:host {
  margin: 2rem;
}

.app {
  margin: 2rem;
  width: 30rem;
}

.title {
  margin: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: justify;
  max-width: 10rem;
  font-size: 3rem;
}

.input__container {
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: 0px 0px 12px -3px rgba(66, 68, 90, 1);
}

.todos {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks {
  text-align: left;
  margin: 0.5rem;
  display: block;
  padding: 0.8rem;
  color: rgb(255, 233, 233);
  box-shadow: 0px 0px 12px -3px rgba(66, 68, 90, 1);
  border-radius: 50px;
  position: relative;
  background: rgb(71, 59, 67);
  background: linear-gradient(
    90deg,
    rgba(71, 59, 67, 1) 0%,
    rgba(205, 66, 194, 1) 0%,
    rgba(255, 15, 114, 0.7070938215102975) 64%,
    rgba(250, 0, 104, 1) 92%
  );
}

.task {
  position: relative;
  left: 0.7rem;
}

input {
  font-size: 0.9rem;
  height: 2rem;
  width: 10rem;
  border: none;
  border-bottom: 1px solid black;
}

.todos :focus {
  outline: none;
}

.tasks mat-icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.done {
  text-decoration: line-through 2px rgb(255, 255, 255);
  opacity: 0.5;
}

.buttons {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.addTask__button {
  margin: 0.5rem;
  width: 7rem;
  background-color: rgba(250, 0, 104, 1);
}

.removeAll__button {
  margin: 0.5rem;
  width: 7rem;
  color: white;
  background-color: #ff9f18;
}
