<div class="app" @fade @slide>
  <div class="input__container">
    <div class="title">
      <h1>
        TO<br />DO<br />LIST
        <mat-icon>check</mat-icon>
      </h1>
    </div>
    <div class="todos">
      <input
        matInput
        [(ngModel)]="text"
        (keyup.enter)="addTodo()"
        placeholder="Enter your task..."
        autofocus
      />
      <div class="buttons">
        <button
          class="addTask__button"
          (click)="addTodo()"
          mat-raised-button
          color="primary"
        >
          Add task
        </button>
        <button
        
          class="removeAll__button"
          (click)="removeAll()"
          mat-stroked-button
          color="primary"
        >
          Remove All
        </button>
      </div>
    </div>
  </div>

  <div *ngFor="let todo of todos; let i = index" class="tasks" @fade @secondSlide>
    <div class="task" (click)="setDone(todo)" >
        <span>{{ i + 1 }}.</span>
        <span [ngClass]="{ done: todo.done }">
          {{ todo.text }}
        </span>
        <mat-icon @secondSlide (click)="deleteTodo(todo)">delete</mat-icon>
    </div>
  </div>
</div>
